<h2><%= @restaurant.name %></h2>
<p>Address: <%= @restaurant.address %></p>
<p>Phone number: <%= @restaurant.phone_number %></p>
<p>Type of cuisine: <%= @restaurant.category %></p>
<br>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
    <li class="list-group-item"><%= review.rating %></li>
  <% end %>
</ul>
<br>
<p><%= link_to "Back to list", restaurants_path %></p><br>
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
